[submodule "ims.ostis.kb"]
	path = ims.ostis.kb
	url = https://github.com/ostis-ai/ims.ostis.kb
	branch = main
[submodule "ostis-web-platform"]
	path = ostis-web-platform
	url = https://github.com/ostis-ai/ostis-web-platform
